<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editing <%= image.title %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div style="height:56px;"></div>
  <h1>Edit <%= image.title %>

  <form action="/images/<%= image._id %>?_method=PUT" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="<%= image.title %>"/>

    <label for="description">Description:</label>
    <textarea name="description" id="description"><%= image.description %></textarea>

    <label for="category">Category:</label>
    <select id="category" name="category">
      <option value="personal" <%= image.category === 'personal' ? 'selected' : '' %>>Personal</option>
      <option value="professional" <%= image.category === 'professional' ? 'selected' : '' %>>Professional</option>
      <option value="art" <%= image.category === 'art' ? 'selected' : '' %>>Art</option>
      <option value="meme" <%= image.category === 'meme' ? 'selected' : '' %>>Meme</option>
    </select>

    <button type="submit">Edit Image</button>
  </form>
  </body>
</html>
